.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
*.py[cod]
*$py.class

.coverage
coverage.xml
htmlcov/

build/
dist/
*.egg-info/

.env
.env.*

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/results/*
!data/results/.gitkeep

.ipynb_checkpoints/
